
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experts Doctor....</title>
</head>
<body>
    
<style>
    .info-section {
    display: flex;
    justify-content: space-around;
    margin: 60px 20px;
    flex-wrap: wrap;
    gap: 20px; 
} 
.info-card {
    background: #2cd5d263;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    padding: 25px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s;
}
 #ananya{
         border-radius: 30px;
        }

</style>

        <!-- <div class="info-section">
    <div class="info-card"> -->
        <i class="fas fa-user-md"></i>
        <img id="ananya" src="doctors.jpg" alt="Doctor Ananya Pandey " width="350" height="400" border="3">
    </div>

       <!-- <div class="info-section">
    <div class="info-card"> -->
        <i class="fas fa-user-md"></i>
        <img id="ananya" src="doctor.jpg" alt="Doctor Jhataka " width="350" height="400" border="3">
    </div>

    
       <!-- <div class="info-section">
    <div class="info-card"> -->
        <i class="fas fa-user-md"></i>
        <img id="ananya" src="maled.jpg" alt="Doctor Jhataka " width="350" height="400" border="3">
    </div>

      <!-- <div class="info-section">
    <div class="info-card"> -->
        <i class="fas fa-user-md"></i>
        <img id="ananya" src="femaled.jpg" alt="Doctor Jhataka " width="350" height="400" border="3">
    </div>





   
    
</body>
</html>